<footer class="bg-dark text-white text-center text-lg-start pt-2 mt-5">
    <!-- Section: Links  -->
    <section class="">
        <div class="container text-center text-md-start mt-5">
            <!-- Grid row -->
            <div class="row mt-3">
                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                    <!-- Content -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        <i class="fas fa-paperclip"></i> A un clip
                    </h6>
                    <p>
                        Somos una compañía que se dedica a la venta de productos escolares, de oficina y de arte.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Acerca de nosotros
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Nuestra historia</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Nuestros valores</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Nuestros productos</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Nuestros servicios</a>
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Servicio al cliente
                    </h6>
                    <p>
                        <a href="#!" class="text-reset">Preguntas frecuentes</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Contacto</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Envíos</a>
                    </p>
                    <p>
                        <a href="#!" class="text-reset">Devoluciones</a>
                    </p>
                    <!-- Insert a image for a Libro de Reclamaciones -->
                    <a href="/libro-de-reclamaciones">
                        <img src="/img/LibrodeReclamaciones.jpg" alt="Libro de Reclamaciones" width="100px">
                    </a>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
                    <!-- Links -->
                    <h6 class="text-uppercase fw-bold mb-4">
                        Contacto
                    </h6>
                    <p><i class="fas fa-home me-3"></i>Calle Independencia 123, Lima 15001, Perú</p>
                    <p>
                        <i class="fas fa-envelope me-3"></i> <a href="mailto:test@test.com"> test@test.com </a>
                    </p>
                    <p><i class="fas fa-phone me-3"></i> + 51 540 6576</p>
                    <p><i class="fas fa-print me-3"></i> + 51 540 6576</p>
                </div>
                <!-- Grid column -->
            </div>
            <!-- Grid row -->
        </div>
    </section>
    <!-- Section: Links  -->

    <div class="text-center p-4 text-year" style="background-color: rgba(0, 0, 0, 0.05);">
        @%%YEAR%% - A un clip - Todos los derechos reservados
    </div>
</footer>
</body>

</html>