<!-- Make teh same but with bootstrap and responsive -->
<nav class="navbar navbar-expand-lg navbar-light bg-light container border-2 border-dark border-top border-bottom my-4">
    <!-- Insert logo -->
    <a class="navbar-brand mx-4" href="/">
        <img src="/img/logo.png" alt="Logo" width="auto" height="100">
    </a>
    <!-- Insert menu -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item border-end border-dark">
                <a class="nav-link active" aria-current="page" href="/">Inicio</a>
            </li>
            <li class="nav-item border-end border-dark">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Categorias
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Oficina</a></li>
                            <li><a class="dropdown-item" href="#">Escolar</a></li>
                            <li><a class="dropdown-item" href="#">Artistico</a></li>
                            <li><a class="dropdown-item" href="#">Manualidades</a></li>
                            <li><a class="dropdown-item" href="#">Universitario</a></li>
                            <li><a class="dropdown-item" href="#">Otros</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li class="nav-item border-end border-dark">
                <a class="nav-link" href="#">Sobre nosotros</a>
            </li>
            <li class="nav-item border-end border-dark">
                <a class="nav-link" href="#">Contacto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/intranet">Intranet</a>
            </li>
            <!-- Add a shopping cart icon -->
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <i class="fas fa-shopping-cart"></i>
                    <!-- Add a badge -->
                    <span class="badge bg-danger rounded-pill" id="items-count">0</span>
                </a>
            </li>
        </ul>
    </div>

</nav>