<%- include('partials/header') %>

<main>
    <!-- Make a beautiful login form with bootstrap -->
    <section class="vh-100" style="background-color: #508bfc;">
        <div class="container py-5 h-100">
          <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card shadow-2-strong" style="border-radius: 1rem;">
                <div class="card-body p-5">
      
                  <h3 class="mb-5">Login</h3>
      
                  <form action="/login" method="post">
                    <% if (errors && errors.length > 0) { %>
                      <div class="alert alert-danger" role="alert">
                        <ul class="my-0">
                          <% errors.forEach(error => { %>
                            <li><%= error.msg %></li>
                          <% }) %>
                        </ul>
                      </div>
                    <% } %>
                    <div class="mb-3">
                      <label for="username" class="form-label">Nombre de Usuario</label>
                      <input type="text" class="form-control" id="username" aria-describedby="" maxlength="255" required name="username">
                    </div>
                    <div class="mb-3">
                      <label for="password" class="form-label">Contraseña</label>
                      <input type="password" class="form-control" id="password" name="password" maxlength="255" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Ingresar</button>
                  </form>
      
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
</main>